# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
archive/music/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
music/domberg/night/Ghosts[[:space:]]of[[:space:]]the[[:space:]]Crown[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/garden/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
music/revel_center/holy[[:space:]]spirit[[:space:]]church/*.mp3 filter=lfs diff=lfs merge=lfs -text
music/revel_center/raekoda/*.mp3 filter=lfs diff=lfs merge=lfs -text
history/**/*.pdf filter=lfs diff=lfs merge=lfs -text
history/**/*.jpg filter=lfs diff=lfs merge=lfs -text
history/**/*.png filter=lfs diff=lfs merge=lfs -text
story/**/*.png filter=lfs diff=lfs merge=lfs -text
music/battle/Ambush[[:space:]]on[[:space:]]Pikk[[:space:]]Street[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Ambush[[:space:]]on[[:space:]]Pikk[[:space:]]Street.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Baltic[[:space:]]Tempest[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Baltic[[:space:]]Tempest[[:space:]](2).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Baltic[[:space:]]Tempest.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Battle[[:space:]]for[[:space:]]Oleviste.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Blackheads'[[:space:]]Charge[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Blackheads'[[:space:]]Charge.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Catherine's[[:space:]]Prayer.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Clash[[:space:]]on[[:space:]]the[[:space:]]Docks.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Defense[[:space:]]of[[:space:]]the[[:space:]]Town[[:space:]]Hall.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Market[[:space:]]Mayhem.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Riot[[:space:]]in[[:space:]]the[[:space:]]Square.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Sacking[[:space:]]the[[:space:]]Nunnery[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/Sacking[[:space:]]the[[:space:]]Nunnery.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/The[[:space:]]Blackheads'[[:space:]]Oath.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/The[[:space:]]Festival[[:space:]]of[[:space:]]St.[[:space:]]John.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/The[[:space:]]Guild[[:space:]]War.mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/The[[:space:]]Guilds[[:space:]]at[[:space:]]War[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
music/battle/The[[:space:]]Guilds[[:space:]]at[[:space:]]War.mp3 filter=lfs diff=lfs merge=lfs -text
